<style>

body {
	background: url(/assets/sidebar-bg.png);
}

#forgot {
	width: 500px;
	margin: auto;
}

.alert {x
	background: #F7ADA4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #A5200E;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 22px;
	line-height: 50px;
}

.notice {
	background: #E5C991;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #A57413;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 22px;
	line-height: 50px;
}

h2 {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #357886;
	padding: 30px 0 0 0;
	font-weight: bold;
}

form {
	width: 310px;
	margin: auto;
	padding: 20px;
	background: white;
	border: #4d4d4d;
}

label {
	font-family: Helvetica, Arial, sans-serif;
	color: #6F8082;
	font-size: 10px;
	text-transform: uppercase;
	padding: 10px 0;
}

#error_explanation {
	background: #F7EBEE;
	margin-bottom: 25px;
	padding-bottom: 10px;
}

#error_explanation h2 {
	font-size: 14px;
	color: #A5200E;
	padding-top:10px;
	text-align: left;
	padding-left: 5px;
}

#error_explanation ul li {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #4d4d4d;
	padding: 5px;
}


</style>

<div id="forgot"><h2>Forgot your password?</h2><br/>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div><br/>

  <div style="text-align: center;"><%= f.submit "Send me reset password instructions" %></div>
<% end %>
<br/>
<p  style="text-align:center;" id="backlink"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-transform: uppercase; color: #1476AD;" href="javascript:history.back()">Go Back</a>
</p>
</div>
